body {
    padding-bottom: 40px;
}
/*HEADER*/

*{padding: 0; margin: 0; box-sizing: border-box;}
header {
	background: url('https://media.traveler.es/photos/61376362652b2e41f8dce040/master/w_1600%2Cc_limit/185030.jpg');
	text-align: center;
	width: 100%;
	background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: rgb(255, 255, 255);
    background-image: linear-gradient( 130deg, #00000069 50%, #0000006b 50%);}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
    text-align: center;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
text-align: center;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}


.titulo1 {
    width: 90%;
    color: rgb(0, 0, 0);
    background-color: #ccc;
    border-radius: 50px;
    border: 7px inset;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
}

/*HABITACIONES*/


.row {
    padding: 50px
}

.columna {
    float: left;
    padding: 30px;
    background-color: white;
  }
  
  .columna.lado {
    width: 30%;
    border: 3px outset black;
    border-radius: 10px;
    -webkit-animation-name: boingInUp;
    animation-name: boingInUp;
    animation-duration: 1.5s;
}
  
  @-webkit-keyframes boingInUp {
    0% {
      opacity: 0;
      transform-origin: 50% 0%;
      transform: perspective(800px) rotateX(-90deg);
    }
    50% {
      opacity: 1;
      transform-origin: 50% 0%;
      transform: perspective(800px) rotateX(50deg);
    }
    100% {
      opacity: 1;
      transform-origin: 50% 0%;
      transform: perspective(800px) rotateX(0deg);
    }
  }
  @keyframes boingInUp {
    0% {
      opacity: 0;
      transform-origin: 50% 0%;
      transform: perspective(800px) rotateX(-90deg);
    }
    50% {
      opacity: 1;
      transform-origin: 50% 0%;
      transform: perspective(800px) rotateX(50deg);
    }
    100% {
      opacity: 1;
      transform-origin: 50% 0%;
      transform: perspective(800px) rotateX(0deg);
    }
  }
  
  .columna.medio {
    width: 39%;
    border: 3px inset black;
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
    -webkit-animation-name: boingInUp;
    animation-name: boingInUp;
    animation-duration: 1.5s;
}
  
  @-webkit-keyframes boingInUp {
    0% {
      opacity: 0;
      transform-origin: 50% 0%;
      transform: perspective(800px) rotateX(-90deg);
    }
    50% {
      opacity: 1;
      transform-origin: 50% 0%;
      transform: perspective(800px) rotateX(50deg);
    }
    100% {
      opacity: 1;
      transform-origin: 50% 0%;
      transform: perspective(800px) rotateX(0deg);
    }
  }
  @keyframes boingInUp {
    0% {
      opacity: 0;
      transform-origin: 50% 0%;
      transform: perspective(800px) rotateX(-90deg);
    }
    50% {
      opacity: 1;
      transform-origin: 50% 0%;
      transform: perspective(800px) rotateX(50deg);
    }
    100% {
      opacity: 1;
      transform-origin: 50% 0%;
      transform: perspective(800px) rotateX(0deg);
    }
  }
    .colimg{
    transition: transform .2s;
}

  .colimg:hover{
    transform: scale(1.1);
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .columna.lado, .column.medio {
      width: 100%;
    }
  }

  p, h1, h2, h3, h4 {
      text-align: center;
  }

  .tabla1, td, th {
    border: 4px solid rgb(0, 0, 0);
    text-align: center;
    }
    
    .tabla1{
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    background-color: whitesmoke;
    }
    
    th, td {
    padding: 15px;
    }

    .tdd, .thd {
        border-right: 1px solid black;
    }
    .form{
            transition: transform .2s;
        }
        
          .form:hover{
            transform: scale(1.05);
          }
